@import "font-awesome"


$nav_height: 80px
$nav_background_color: rgba(0, 0, 0, 0.8)
$content_width: 800px

*
  padding: 0
  margin: 0

html
  height: 100%

body
  height: 100%
  position: relative


.main_background
  position: fixed
  z-index: -5
  width: 100%
  height: 100%
  background: url("../backgrounds/main_background.jpg") no-repeat
  background-size: cover


#app
  height: 100%

main
  height: 100%

/*Navigation*/

.empty_up
  height: $nav_height

nav
  width: 100%
  height: $nav_height
  position: fixed
  background: $nav_background_color
  box-sizing: border-box

#nav_input
  display: none

#nav_input:checked ~.nav_menu
  width: 150px

.nav_header_label
  color: white
  font-size: 30px
  float: left
  cursor: pointer
  margin: 20px 0 0 20px

.nav_header
  color: white
  float: left
  margin: 20px 0 0 50px

.nav_page_header
  color: white
  float: left
  margin: 20px 0 0 30%

.nav_menu
  background: $nav_background_color
  width: 0
  min-height: 100%
  position: fixed
  margin-top: $nav_height
  overflow: hidden
  padding-top: 20px
  transition: width 0.2s ease

.nav_menu__link
  text-decoration: none
  color: white
  display: block
  margin: 10px 0 0 20px
  font-size: 20px

.nav_menu__link_active
  color: #ff8787


/*Content Main*/

.content
  width: $content_width
  min-height: 100%
  margin: 0 auto
  padding: 20px
  background-color: rgba(255, 255, 255, 0.5)
  overflow: hidden

.content_loader
  text-align: center

.content__top_user
  width: ($content_width - 20)/2
  float: left
  margin: 0 10px 10px 0

.content__top_user_h2
  text-align: center
  margin-bottom: 10px

.content__top_user_item
  display: block
  padding: 10px
  border-radius: 10px
  background-color: rgba(255, 255, 255, 0.5)
  box-shadow: 0 0 30px #a19a98
  text-decoration: none
  color: black

.content__top_user_item:hover
  box-shadow: 0 0 30px #fc9097


.content__top_post_aside
  width: ($content_width - 20)/2
  float: left
  margin-right: 10px

.content__top_post_h2
  margin-bottom: 20px
  text-align: center

.content__post_top
  padding: 10px 10px 30px
  border-radius: 10px
  background-color: rgba(255, 255, 255, 0.5)
  margin-bottom: 10px
  box-shadow: 0 0 30px #a19a98

.content__post_top_link
  text-decoration: none
  color: black


.content__post_top_link:hover
  color: #91231f

.content__post_top_head
  margin-bottom: 10px
  text-align: center

.content__post_top_body
  margin-bottom: 10px

.content__post_top_author
  float: left

.content__post_top_author_link
  margin-bottom: 10px
  text-decoration: none
  color: #5f5f5f

.content__post_top_info
  float: right

.post_view
  color: blue

.post_like
  color: red
  cursor: pointer

.content__user_aside
  width: ($content_width - 20)/2
  float: right

.user_info_fixed
  width: 380px
  padding: 10px
  background-color: rgba(255, 255, 255, 0.5)
  border-radius: 10px
  box-shadow: 0 0 30px #a19a98
  position: fixed
  top: $nav_height + 20px

.big_avatar
  width: 350px
  height: 350px

.content__user_name
  margin: 10px 0

.content__post_title
  margin-bottom: 10px

.content__post_body
  margin-bottom: 10px

.content__post
  margin-bottom: 20px
  padding: 10px 10px 25px
  background-color: rgba(255, 255, 255, 0.5)
  border-radius: 10px
  box-shadow: 0 0 30px #a19a98

.content__post_author
  float: left

.content__post_author_link
  text-decoration: none
  color: #5f5f5f

.content__post_info
  float: right


.content__post_comment
  padding: 10px 10px 35px
  background-color: rgba(255, 255, 255, 0.5)
  border-radius: 10px
  box-shadow: 0 0 30px #a19a98
  margin-bottom: 10px

.content__post_comments_header
  margin-bottom: 10px

.content__post_comment_author
  float: left
  margin-top: 10px

.content__post_comment_author_link
  text-decoration: none
  color: #5f5f5f

.content__post_comment_likes
  float: right

/*footer*/
footer
  position: relative
  bottom: 0
  text-align: center
  clear: both