@import "font-awesome"

$nav_height: 80px
$nav_background_color: rgba(0, 0, 0, 0.8)
$content_width: 800px
$footer_height: 40px

*
  padding: 0
  margin: 0

body
  height: 100%

html
  height: 100%


.main_background
  position: fixed
  z-index: -5
  width: 100%
  height: 100%
  background: url("../backgrounds/main_background.jpg") no-repeat
  background-size: cover


#app
  min-height: 100%
  height: 1px

main
  height: 100%

/*Navigation*/

nav
  width: 100%
  height: $nav_height
  position: fixed
  background: $nav_background_color
  box-sizing: border-box
  z-index: 1

#nav_input
  display: none

#nav_input:checked ~.nav_menu
  width: 150px

.nav_header_label
  color: white
  font-size: 30px
  float: left
  cursor: pointer
  margin: 20px 0 0 20px

.nav_header
  color: white
  float: left
  margin: 20px 0 0 50px

.nav_page_header
  color: white
  float: left
  margin: 20px 0 0 30%

.nav_menu
  background: $nav_background_color
  width: 0
  min-height: 100%
  position: fixed
  margin-top: $nav_height
  overflow: hidden
  padding-top: 20px
  transition: width 0.2s ease

.nav_menu__link
  text-decoration: none
  color: white
  display: block
  margin: 10px 0 0 20px
  font-size: 20px

.nav_menu__link_active
  color: #ff8787


/*Content Main*/



.content
  min-width: $content_width
  width: $content_width+40px
  min-height: 100%
  margin: 0 auto
  padding: 20px+$nav_height 20px 20px
  background-color: rgba(255, 255, 255, 0.5)
  box-sizing: border-box

//.switch-wrapper
//  position: relative
//
//
//.switch-wrapper > div
//  position: absolute
//

.content_loader
  text-align: center


/*Main*/

.content__top_users
  display: flex
  justify-content: space-around

.content__top_user
  width: ($content_width - 20)/2
  //float: left
  margin: 0 10px 10px 0

.content__top_user_h2
  text-align: center
  margin-bottom: 10px

.content__top_user_item
  display: block
  padding: 10px
  border-radius: 10px
  background-color: rgba(255, 255, 255, 0.5)
  box-shadow: 0 0 30px #a19a98
  text-decoration: none
  color: black

.content__top_user_item:hover
  box-shadow: 0 0 30px #fc9097

.content__top_posts
  display: flex
  justify-content: space-around

.content__top_post_aside
  width: ($content_width - 20)/2
  //float: left
  margin-right: 10px

.content__top_post_h2
  margin-bottom: 20px
  text-align: center

.content__post_top
  padding: 10px 10px 30px
  border-radius: 10px
  background-color: rgba(255, 255, 255, 0.5)
  margin-bottom: 10px
  box-shadow: 0 0 30px #a19a98

.content__post_top_link
  text-decoration: none
  color: black


.content__post_top_link:hover
  color: #91231f

.content__post_top_head
  margin-bottom: 10px
  text-align: center

.content__post_top_body
  margin-bottom: 10px

.content__post_top_author
  float: left

.content__post_top_author_link
  margin-bottom: 10px
  text-decoration: none
  color: #5f5f5f

.content__post_top_info
  float: right

.post_view
  color: blue

.post_like
  color: red
  cursor: pointer

/*User*/

.content__user
  //min-height: 100%
  //height: 1px

.content__user_aside
  width: ($content_width - 40px)/2

.user_info_fixed
  width: 380px
  padding: 10px
  background-color: rgba(255, 255, 255, 0.5)
  border-radius: 10px
  box-shadow: 0 0 30px #a19a98
  position: fixed
  top: $nav_height + 20px

.user_posts
  margin-left: $content_width/2 + 20px
  //float: right

.big_avatar
  width: 350px
  height: 350px

.content__user_name
  margin: 10px 0

.content__post_title
  margin-bottom: 10px

.content__post_body
  margin-bottom: 10px

.content__post
  margin-bottom: 20px
  padding: 10px 10px 25px
  background-color: rgba(255, 255, 255, 0.5)
  border-radius: 10px
  box-shadow: 0 0 30px #a19a98

.content__post_author
  float: left

.content__post_author_link
  text-decoration: none
  color: #5f5f5f

.content__post_info
  float: right


.content__post_comment
  padding: 10px 10px 35px
  background-color: rgba(255, 255, 255, 0.5)
  border-radius: 10px
  box-shadow: 0 0 30px #a19a98
  margin-bottom: 10px

.content__post_comments_header
  margin-bottom: 10px

.content__post_comment_author
  float: left
  margin-top: 10px

.content__post_comment_author_link
  text-decoration: none
  color: #5f5f5f

.content__post_comment_likes
  float: right


.tooltip
  position: absolute

.tooltip_content
  background-color: antiquewhite
  width: 200px
  max-height: 100px
  overflow: auto
  margin-left: -190px
  margin-top: -30px
  padding: 10px
  border-radius: 5px
  box-shadow: 0 0 30px #a19a98

.tooltip_comment
  margin-left: -230px

.ava_tooltip
  height: 20px
  display: inline-block
  vertical-align: middle

.tooltip_user
  margin-bottom: 5px

.tooltip_user_link
  text-decoration: none
  color: #636363


.appearance-enter
  opacity: 0.01


.appearance-enter.appearance-enter-active
  opacity: 1
  transition: opacity 500ms ease-in


.appearance-exit
  opacity: 1


.appearance-exit.appearance-exit-active
  opacity: 0.01
  transition: opacity 300ms ease-in


.empty_down
  height: $footer_height

/*footer*/
footer
  height: $footer_height
  text-align: center
  clear: both
  margin-top: -$footer_height